<form class="general" method="POST" action="/session/new">
	Username: <br><input type="text" name="username"><br>
	Password: <br><input type="password" name="password">	<br>	
	<input class="button" type="submit" value="Log in">
</form>