%form(class="general" method="post" enctype='multipart/form-data')   
  %input.file(type='file' name='myfile')
  %input.fakefile(type='button' value='Choose file')    
  %br
  %br
  %input.button(type='submit' value='Upload!')