<% if flash[:errors] && !flash[:errors].empty? %>
 Opps!!.
 <ul class="error">
   <% flash[:errors].each do |error| %>
     <li><%= error %></li>
   <% end %>
 </ul>
<% end %>
<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
