<header class="clearfix">
	<div id="logo">Chitter</div><br>
	<div id="user-links">
		<%if current_user %>
			<span id="welcome-message">
				Welcome, <%= current_user.name %>
			</span>
			<a href="/users/sign-out"><button>Sign out</button></a>
			<a href="/posts/create"><button>Create post</button></a>
		<% else %>
		<% if request.path_info == '/session/new' %>
			<a href="/users/new"><button>Sign up</button></a>
		<% elsif request.path_info == '/users/new' %>
			<a href="/session/new"><button>Sign in</button></a>
		<% else %>
			<a href="/users/new"><button>Sign up</button></a>
			<a href="/session/new"><button>Sign in</button></a>
		<% end %>
		<% end %>
</header>