<html>
<head>
	<link href="/stylesheets/reset.css" rel="stylesheet">
	<link href="/stylesheets/stylesheet.css" rel="stylesheet">
</head>
<body>
	<%= erb :header %>
	<%= erb :flash_errors %>
	<content>
  <%= yield %>
	</content>
</body>
</html>