<html>
<head>
	<link href="/stylesheets/reset.css" rel="stylesheet">
	<link href="/stylesheets/stylesheet.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= erb :header %>
	<div id="content">
	<%= erb :flash_errors %>
	<content>
  <%= yield %>
	</content>
</div>
</body>
<footer>
  Developed by Marco Araujo during Makers Academy Web development course<br><br>
  Contact information: <a class="footer" href="mailto:marcopersonal@outlook.com">
  marcopersonal@outlook.com</a>.
</footer>
</html>