%html
	%head
		%link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/reset.css"}
		%link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/stylesheet.css"}
		%link{:rel => :stylesheet, :type => :"text/css", :href => "http://fonts.googleapis.com/css?family=Lobster"}
	%body
		=erb :header 
		=erb :flash_errors 
	%content
		=yield